<div>
    <div style="background-color:#ECECF4">
        <div class="container">
            <p><img class="img-responsive" style="width:100%" alt="Contactus bg"
                    src="https://d1qmdf3vop2l07.cloudfront.net/creaky-dove.cloudvent.net/hash-store/cac61b0684497cde7edfd4af45f9c64e.png" />
            </p>
            <h1 style="padding-top:80px">We'd love to hear from you!</h1>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"
                    style="background-color:#FFF;margin-bottom:80px;border-radius:4px;">
                    <div style="margin:80px 60px 0 80px">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <p>Got any Questions? Ask us now</p>
                            <div class="row" style="padding-top:65px">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p class="call-us">CALL US</p>
                                    <p class="call">080-42752539</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p class="mail-us">MAIL US</p>
                                    <p class="mail">hello@pareeksha.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="margin-left: 400px;">
                    <img class="img-responsive" alt="Contactus pin"
                        src="https://d1qmdf3vop2l07.cloudfront.net/creaky-dove.cloudvent.net/hash-store/5fe9e813d2b23567fa049653a63b1639.png" />
                    <p class="contact-here">WE ARE HERE</p>
                    <p class="contact-address">Pareeksha Pvt Ltd,<br />&nbsp;Sri Krishna Garden Layout,<br />RR
                        Nagar, Bangalore - 560098</p>

                </div>
            </div>
        </div>
    </div>