<h2>Student Details </h2> <br>

<div *ngIf="alertError" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong> {{message}} </strong>
  <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="loginSudent" (ngSubmit)="collectData()">

  <div class="form-group">
    <label for="studentName">Student Name</label>
    <input type="text" class="form-control" id="studentName" placeholder="Enter Name" formControlName="studentName"
      required>
    <div *ngIf="studentName.invalid && (studentName.dirty || studentName.touched)" class="alert alert-danger">
      <div *ngIf="studentName.errors.required"> Student Name is required. </div>
    </div>
  </div>
  <div class="form-group">
    <label for="prn">PRN</label>
    <input type="text" class="form-control" id="prn" placeholder="Enter PRN" formControlName="prn" required>
    <div *ngIf="prn.invalid && (prn.dirty || prn.touched)" class="alert alert-danger">
      <div *ngIf="prn.errors.required"> PRN is required. </div>
      <div *ngIf="prn.errors.min"> PRN should be of 6 digits </div>
      <div *ngIf="prn.errors.max"> PRN should be of 6 digits </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!loginSudent.valid">Begin Test</button>
</form>