<h2>Exam Details </h2> <br>

<div *ngIf="alertError" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong> {{message}} </strong>
 <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="loginUser" (ngSubmit)="collectData()">

    <div class="form-group">
        <label for="paperId">Paper ID</label>
        <input type="number" class="form-control" id="paperId" placeholder="Enter Paper-id" formControlName="paperId" required>
        <div *ngIf="paperId.invalid && (paperId.dirty || paperId.touched)" class="alert alert-danger">
          <div *ngIf="paperId.errors.required"> Paper-Id is required. </div>
        </div>
    </div>

    <div class="form-group">
      <label for="paperPassword">Paper Code</label>
      <input type="password" class="form-control" id="paperPassword" placeholder="Enter Code" formControlName="paperPassword" required>
      <div *ngIf="paperPassword.invalid && (paperPassword.dirty || paperPassword.touched)" class="alert alert-danger">
        <div *ngIf="paperPassword.errors.required"> Paper Password is required. </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!loginUser.valid" >Take Exam</button>
</form>
