<h2>Insert Question </h2>

<span> <strong> Subject </strong> : {{paperSubject}}</span>  
<span style="margin-left: 60px;" > <strong>Reamaining Questions</strong>  : {{totalQuestions}} </span> <br> <br>

<label>Question Type:</label>

<form [formGroup]="form">
  <select class="form-control" formControlName="type">
    <option *ngFor="let type of questionType" [ngValue]="type">{{type}}</option>
  </select>
</form>
<br>
<app-mcq *ngIf="type=='MCQ'"></app-mcq>
<app-match-the-following *ngIf="type=='Match the following'"></app-match-the-following>
<app-true-false *ngIf="type=='True/False'"></app-true-false>
<hr style="margin-bottom: 120px;" >