<div *ngIf="alertError" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong> {{message}} </strong>
    <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<p>
    Time Left:
    <countdown-timer [endDate]="someDate" (zeroTrigger)="myTriggerFunction()"></countdown-timer>
</p>

<h4>Paper Name : {{paper.paperName}}</h4>

<div *ngFor="let q of paper.questions ; index as i">
    <div *ngIf="q.questionType == 'MCQ' || q.questionType == 'TRUEORFALSE'">
        <hr>
        <hr>
        <p id="{{q.questionId}}">{{i+1}}.&nbsp;{{q.question}}</p>
        <hr>
        <div *ngFor="let c of q.choices">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" name="q.questionId" id="c.choiceId" (change)='onSelect(q.questionId,c.choiceId);'>
                    </div>
                </div>
                <p id="{{c.choiceId}}">&nbsp;{{c.choice}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="q.questionType == 'MATCHTHEFOLLOWING'">
        <hr>
        <hr>
        <p>Match The Following</p>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>{{questions[0]}}</td>
                    <td>{{questions[1]}}</td>
                </tr>
                <tr>
                    <td>{{questions[2]}}</td>
                    <td>{{questions[3]}}</td>
                </tr>
                <tr>
                    <td>{{questions[4]}}</td>
                    <td>{{questions[5]}}</td>
                </tr>
                <tr>
                    <td>{{questions[6]}}</td>
                    <td>{{questions[7]}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div *ngFor="let c of q.choices">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" name="q.questionId" id="c.choiceId" (change)="onSelect(q.questionId,c.choiceId);">
                    </div>
                </div>
                <p id="{{c.choiceId}}">&nbsp;{{c.choice}}</p>
            </div>
        </div>
    </div>
</div>
<input type="button" class="btn btn-primary" value="Submit Paper" (click)="result()">
