.navbar-custom {
  background-color: #000000;
}

body{
  background-image: "../assets/img/slide/slide-1.jpg";
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-custom .navbar-text {
    color:whitesmoke;
}
.navbar-custom .navbar-text:hover {
  color: lightblue;
}

footer{
  position: relative;
  margin-top: 76px;
  bottom: 0;
  left: 0;
  width: 100%;
  /* background-color: #000000; */
  padding: 20px;
  color: #000000;
  border: 2px solid black;
}

.my-color{
  background-color:gray;
 }
