
<div *ngIf="alertError" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong> {{message}}.</strong>
  <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Paper Name</th>
        <th scope="col">Subject</th>
        <th scope="col">Duration</th>
        <th scope="col">Difficulty Level</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of paper; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{p.paperName}}</td>
        <td>{{p.paperName}}</td>
        <td>{{p.duration/60}} minutes</td>
        <td>{{p.difficultyLevel}}</td>
        <td><input type="button" value="Review" (click)="review(p.paperId)"  [disabled]="p.reviewed"></td>
        <td><input type="button" value="Download" (click)="downloadPaper(p.paperId)"></td>
      </tr>
    </tbody>
  </table>
  <hr style="margin-bottom: 238px;" >