<style>
    #truefalse{
        height: 100px;
        width: 500px;
        font-size: 14pt;
    }
    .btnClass{
        padding-left: 450px;
    }
</style>

<div class="container" margin="auto">
    <table style="margin-left: auto; margin-right:auto;">
        <th>Enter True/False Type Question </th>
        <tr>
            <td>
            <label for="questionTrueFalse">
                <textarea id="truefalse"> </textarea>
            </label>
        </td>
        
        </tr>
            <td></td>
        <tr>
            <td class="btnClass"><button type="submit" class="btn btn-primary">Add</button></td>
        </tr>
    </table>
</div>

