<h1> Dashboard </h1>
<p>This is the Dashboard where you can create paper and add questions, publish the paper, and view results of available papers.</p>


<ul class="list-group">

  <li class="list-group-item">
    <a href="dashboard/create"> Create Paper</a> 
      <ul> 
        <li>Create a new Paper</li>
      </ul>
  <li class="list-group-item">
    <a href="dashboard/publish"> Publish Paper</a>
    <ul> 
      <li>Review or download created paper</li>
    </ul>
  </li>
  <li class="list-group-item">
    <a href="dashboard/result">View Result</a>
    <ul> 
      <li>View scores of students who attempted the paper</li>
    </ul>
  </li>


</ul>
<hr style="margin-bottom: 130px;" >