<h2>Register</h2>

<form [formGroup]="registerUser" (ngSubmit)="collectData()">
  <div class="form-group">
    <label for="name">Name *</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name" required>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors.required"> Name is required. </div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email address *</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors.required"> Email is required. </div>
    </div>
  </div>

  <div class="form-group">
    <label for="dob">Date of Birth *</label>
    <input type="date" class="form-control" id="dob" formControlName="dob">
    <div *ngIf="dob.invalid && (dob.dirty || dob.touched)" class="alert alert-danger">
      <div *ngIf="dob.errors.required"> Date of Birth is required. </div>
    </div>
    <div *ngIf="error.isError" class="alert alert-danger">
      {{ error.errorMessage }}
   </div>
  </div>

  <div class="form-group">
    <label for="password">Password *</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required"> Password is required. </div>
      <div *ngIf="password.errors.minlength"> Minimum length required is 8 </div>
      <div *ngIf="password.errors.maxlength"> Maximum length required is 15. </div>
    </div>
  </div>
  <p>All fileds with * are neccesarry</p>
  <button type="submit" class="btn btn-primary" [ngClass]="{'my-color': !registerUser.valid}"
    [disabled]="!registerUser.valid">Register</button>
</form>