<h2>Add Choice </h2>

<form [formGroup]="addChoice" (ngSubmit)="collectData()">
  <div class="form-group">
    <label for="choice">Choice</label>
    <input type="text" class="form-control" id="choice" placeholder="Enter Choice" formControlName="choice" required>
    <div *ngIf="choice.invalid && (choice.dirty || choice.touched)" class="alert alert-danger">
      <div *ngIf="choice.errors.required"> Field is required. </div>
    </div>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-check-input" id="isCorrect" formControlName="isCorrect">
    <label for="isCorrect" class="form-check-label" >Check if this Choice is Correct </label>
  </div>
  <button type="submit" class="btn btn-primary">Add</button> <br> <br>
  <a href="/dashboard/question/insert"> Add other question </a>
</form>
